<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/resources/**" access="permitAll" />
        <intercept-url pattern="/admin*" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/user*" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/command*" access="hasAuthority('ADMIN')" />
        <intercept-url pattern="/account*" access="hasAuthority('MANAGER')" />
        <intercept-url pattern="/agreement*" access="hasAuthority('MANAGER')" />
        <intercept-url pattern="/bank*" access="hasAuthority('MANAGER')" />
        <intercept-url pattern="/card*" access="hasAuthority('MANAGER')" />
        <intercept-url pattern="/currency*" access="hasAuthority('MANAGER')" />
        <intercept-url pattern="/exchangerate*" access="hasAuthority('MANAGER')" />

        <form-login login-page="/login" default-target-url="/helloworld"
                    authentication-failure-url="/loginError"  username-parameter="login" password-parameter="password"/>
        <logout logout-success-url="/" logout-url="/j_spring_security_logout"

        />
        <csrf disabled="true" />
    </http>



    <beans:bean id="userService" class="by.pwt.pilipenko.jd2final.services.UserService"/>

    <beans:import resource="classpath*:beans-dao.xml"/>
    <beans:import resource="classpath*:beans-services.xml"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService"/>




    </authentication-manager>

</beans:beans>